<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="DailyArchiveLog" xsi:type="File"
              layout="${longdate}   ${level:uppercase=true:padding=-5}   ${threadname:padding=-20}   ${logger:padding=-60}   ${message}"
              fileName="${specialfolder:folder=LocalApplicationData}/CBaxter/Harvester/Logs/Console.log"
              archiveFileName="${specialfolder:folder=LocalApplicationData}/CBaxter/Harvester/Logs/Console.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="iso-8859-2" />
    </targets>
    <rules>
      <logger name="*" minlevel="INFO" writeTo="DailyArchiveLog" />
    </rules>
  </nlog>

  <system.diagnostics>
    <trace>
      <listeners>
        <clear />
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>